.btn {
    background: linear-gradient(102.67deg, #5B53F9 7.43%, #AC71D6 46.26%, #FF8E57 104.5%);
    border-radius: 100px;
    padding: 6px 28px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}